/* Esercizio 1 */
.ex-1-square {
  transition: 2s;
}
.ex-1-square:hover {
  background-color: red;
}
/* /Esercizio 1 */
/* Esercizio 2 */
.well {

}
.ex-2-square {
  transition: 2s;
}
.ex-2-square:active {
  width:100%;
}
/* /Esercizio 2 */
